@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Barlow', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;
}

body {
    min-width: 375px;
    max-width: 1440px;
    font-size: 18px;        
    width: 100%;                                                                                     
}

.container {
    position: relative;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

nav {
    background: hsl(207, 33%, 95%);
    width: 50%;
    padding: 70px 150px;
    height: 400px;
    border-radius: 0 0 0 15%;
}

.logo-area {
    padding: 70px 150px;
    width: 50%;
    height: 156px;
}

.menu ul {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s;
}

.menu ul .menu-item a {
    color: hsl(230, 29%, 20%);
}

.menu ul .login {
    color: hsl(231, 7%, 65%);
}

.text {
    padding-top: 120px;
}

.text .txt-new,
.text .txt-dashboard {
    text-transform: uppercase;
}

.text .txt-new {
    color:  hsl(207, 33%, 95%);
    background: hsl(230, 29%, 20%);
    padding: 2px 10px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 25px;
}

.txt-dashboard {
    color: hsl(230, 11%, 40%);
    letter-spacing: 3px;
    margin-left: 15px;
}

.headlines {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.txt-title {
    font-size: 52px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 15px 0;
    line-height:60px;
}

.txt-subtitle {
    color: hsl(231, 7%, 65%);
    margin: 15px 0;
    width: 60%;
}

.btn {
    margin-top: 60px;
}

.btn-schedule {
    color: hsl(207, 33%, 95%);
    background: hsl(0, 100%, 68%);
    padding: 15px 25px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-schedule:hover {
    background: hsl(0, 87%, 69%);
}

.txt-see {
    margin-left: 15px;
    color: hsl(231, 7%, 65%);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.image img {
    position: absolute;
    margin: 100px 0 0 -80px;
    width: 720px;
    height: 348px;
}

.footer-area {
    margin-top: 300px;
}

.attribution {
    padding-top: 250px;
    font-size: 11px;
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}


@media screen and (max-width:650px) {
    
    body {
        overflow-x: hidden;
    }

    main {
        position: relative;
    }

    .logo-area {
        padding: 30px;
        width: 50%;
        height: 156px;
    }

    .logo-area img {
        width: 25px;
        height: 25px;
    }

    .login-item {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    nav {
        width: 50%;
        padding: 30px;
        height: 500px;
        text-align: right;
    }

    ul {
        opacity: 0;
        position: absolute;
        text-align: center;
        z-index: 10;
        width: 100%;
        left: 0px;
        right: 0px;
        top: 80px;
        transition: all 0.3s ease;
    }

    li {
        box-shadow: -2px 2px 3px hsl(230, 11%, 40%);
        margin: 0 30px;
        background:  #fff;
        padding: 30px 0px;
    }

    .btn-menu img {
        cursor: pointer;
    }

    .btn-menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .btn-close {
        display: none;
    }

    .btn-open {
        text-align: right;
        display: block;
    }

    .image img {
        margin: 120px 0 0 -335px;
        width: 500px;
        height: 241px;
    }

    .text {
        padding-top: 480px;
        position: absolute;
    }

    .txt-title {
        font-size: 40px;
        margin: 15px 0;
        line-height: 45px;
    }

    .txt-subtitle {
        color: hsl(231, 7%, 65%);
        margin: 15px 0;
        width: 65%;
    }

    .txt-see {
        font-size: 14px;
    }

    .btn-schedule {
        padding: 15px 20px;
    }

    .btn {
        padding-bottom: 70px;
    }

    
    .footer-area {
        margin-top: 300px;
    }

    .attribution {
        padding-top: 360px;
        position: absolute;
        margin-left: 70px;
    }
}


@media screen and (min-width:650px) {

    body {                                                                            
        overflow: hidden;
    }
    
    .btn-close {
        display: none;
    }

    .btn-open {
        display: none;
    }

    .menu ul {
        display: flex;
    }

    .menu ul .menu-item a {
       margin-right: 40px;
    }
   
    .menu ul li a:hover {
        text-decoration: underline;
    }

    .menu ul .login {
        margin-left: 60px;
    }
}